[submodule "thirdparty/simple-knn"]
	path = thirdparty/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn
[submodule "thirdparty/diff-gaussian-rasterization-modified/third_party/glm"]
	path = thirdparty/diff-gaussian-rasterization-modified/third_party/glm
	url = https://github.com/g-truc/glm.git
